*{
    margin:0;
    padding:0;
}

body{
    background-color: rgb(20, 20, 20);
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:20%;
    background-color: white;
    padding:10px;
}

.nav-item{
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.content{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 35px;
}

.btn{
    background-color: white;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    border: 0;
    border-radius: 2px;
    padding: 5px;
    font-size: large;
}

.card{
    margin-top: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 40px;
    padding-top: 40px;
    border-radius: 12px;
}

.data{
    display: flex;
    flex-direction: column;
    gap:8px;
    font-weight: bold;
}

.label{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.credit-card{
    width: 150;
}

.valid{
    width: 20px;
}

.hand-data{
    margin-top: 10px;
}

p{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.infoText{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#amount{
    height: 50px;
    width: 100px;
    border-radius: 8px;
}

a{
    text-decoration: none;
}

.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}